/* RESET CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: helvetica, arial, sans-serif;
}

/* CSS nội dung */
/* thẻ chứa nội dung phần login */
.login-container {
  height:700px;
  background-color: #f0f2f5;
  padding: 98px 260px 148px 260px;
  display: flex;
  flex-direction: row;
  columns: 2;
  justify-content: center;

}

.login-content {
  display: flex;
  flex-wrap: wrap;
  --columns: 1;
}


.login-facebook-text {
  display: flex;
  flex-direction: column;
  margin-top: 23px;
}

.login-facebook-noti {
  display: flex;
}

.login-facebook-item {
  list-style: none;
}

.login-facebook-noti-name {
  font-size:3.5rem;
  color: #1877f2;
  font-weight: 800;

}

.login-facebook-noti-share {
  display: flex;
  flex-wrap: wrap;
  font-size:1.8rem;
  color: #1c1e21;
  font-weight: 500;
  
}

.login-form {
  display: flex;
  flex-direction: column;
  /* width: 400px;
  height: 450px; */
  width: 477px;
  height: 454px;
  padding: 15px;
  border: 1px solid #ccc;
  margin-top: -15px;
  margin-left: 67px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color:#fff;
}

.login-form-input {
  display: flex;
  flex-direction: column;
  

}

.login-form-input-detail {
  display: flex;
  justify-content: space-between;

}

.login-form-input-detail input {
  width: 411px;
  height: 55px;
  margin: 23px 17px 13px 17px;
  border-radius: 5px;
  border: 1px solid #e4e5e8;
  outline: none;
  font-size: 1.3rem;
  color: #9094a9
}

.login-form-input-detail input:hover {
  border: 1px solid #1877f2
}

.login-form-input-btn button {
  width: 409px;
  height: 55px;
  margin: 18px 17px 13px 17px;
  border-radius: 5px;
  background-color:#1877f2;
  border: none;
  font-size: 2rem;
  line-height: 48px;
  color: #fff;
  cursor: pointer;
  
}

.login-form-input-btn button:hover {

  background-color: #1831f2
}

.login-form-forgot-question  {
  text-decoration: none;
  text-align: center;
  margin-top:17px;
  font-size:1.2rem;
  color: #1877f2
}

.login-form-cross {
    display: flex;
}

.login-form-cross-brick {
  border-top: 1px solid #dadde1;
  width: 409px;
  margin-top:28px;
  text-align: center;
  align-items: center;
  margin-left:15px;
  margin-right:15px;

}

.login-form-input-create button {
  width: 228px;
  height: 46px;
  margin: 27px 110px 27px 110px;
  border-radius: 5px;
  background-color:#42b72a;
  border: none;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 48px;
  color: #fff;
  cursor: pointer;
}

.login-form-input-create button:hover {
  background-color:#2ab72f
}


.login-form-page {
  display: flex;
  flex-direction: column;
  width: 470px;
}

.login-form-page-create {
  list-style: none;
  margin-top:31px
}

.login-form-page-create a {
  text-decoration: none;
  font-size:1.2rem;
  color:#1c1e21;
  font-weight:600;
  margin-left: -25px;
}

.login-form-page-create a:hover {
  text-decoration:underline
}

.login-form-page-create li {
  padding-left: 9px;
  font-weight: 600;
  font-size: 1rem;
}

.login-form-page-create span {
  display: block;
  margin-left: 176px;
  margin-right: 176px;
  font-weight: 600;
  font-size: 1rem;
}

/* Start Container footer */
.footer {
  height:152px;
  background-color: #fff;
  padding-left: 260px;
  padding-right: 260px;
  /* justify-content:center; */
  flex-direction: row;
}
/* End Container footer */

/*Start Tiếng việt */
.footer-list {
  display: flex;
  align-items: center;
  width: 1076px;
  /* padding-top: 32px; */
  margin: 0 auto;
  /* justify-content:left; */
  /* padding-left: 230px;
  padding-right: 400px; */
  /* margin: 5px; */
}

.footer-list-item {
  display: flex;
  list-style: none;

 
}

 .footer-list li  {
  display: inline-block;
  padding: 5px;
  margin-top: 32px;
  
}

.footer-list-item a {
  text-decoration: none;
  color: #8a8d9f
} 

.footer-list-item a:hover {
  text-decoration: underline
}
.footer-list-plus {
  display:flex
}

.footer-list-item .footer-square a {
  text-decoration: none;

}

.footer-square {
  display: block;
  width: 32px;
  height: 26px;
  border: 1px solid #ccd0d5;
  border-radius:3px
}

.footer-square i {
  display: flex;
    font-size: 0.8rem;
    margin-left: 8px;
    margin-top: 6px;
    color: #666d7c;
    text-decoration: none;
}

.footer-square:hover {
  color: #666d7c;
  text-decoration: none;
}
/*End Tiếng việt */

/* gạch ngang */
.footer-bold {
  display: flex;
 
}

.footer-bold-underlined {
  display: block;
  border-bottom: 1px solid #ccd0d5;
  width: 1076px;
  margin-left: 225px;
  margin-top: 15px;
}
/* gạch ngang */

/*Start đăng ký đăng nhập */
.footer-list-register {
  display: flex;
  align-items: center;
  width: 1076px;
  /* padding-top: 10px; */
  margin: 0 auto;
}

.footer-list-register-item {
  display: flex;
  list-style: none;
}

.footer-list-register-item a {
  text-decoration: none;
  color: #8a8d9f
}

      
.footer-list-register li{

  display: inline-block;
  padding: 6px;
  /* margin-top: 10px; */
}

.footer-list-register-item a:hover {
  text-decoration: underline
}
/*End  đăng ký đăng nhập */

/* Start Địa Phương */
.footer-list-service {
  display: flex;
  align-items: center;
  width: 1076px;
  /* padding-top: 10px; */
  margin: 0 auto;
}

.footer-list-service-item {
  display: flex;
  list-style: none;
  margin-top: -5px;
}

.footer-list-service-item a {
  text-decoration: none;
  color: #8a8d9f
}

      
.footer-list-service li{

  display: inline-block;
  padding: 6px;
  /* margin-top: 10px; */
}

.footer-list-service-item a:hover {
  text-decoration: underline
}

/* End Địa phương */

/* Start Cookie */
.footer-list-cookie {
  display: flex;
  align-items: center;
  width: 1076px;
  /* padding-top: 10px; */
  margin: 0 auto;
}

.footer-list-cookie-item {
  display: flex;
  list-style: none;
  margin-top: -5px;
  margin-left: -5px;
}

.footer-list-cookie-item a {
  text-decoration: none;
  color: #8a8d9f
}

      
.footer-list-cookie li{

  display: inline-block;
  padding: 10px;
  /* margin-top: 10px; */
}

.footer-list-cookie-item a:hover {
  text-decoration: underline
}
/* End Cookie */

/* Meta */
.footer-list-meta {
  display: flex;
  align-items: center;
  width: 1076px;
  /* padding-top: 10px; */
  margin: 0 auto;
}

.footer-list-meta p {
  margin-left: 6px;
  color: #8a8d9f;
  font-size: 0.8rem;
  margin-top: 30px;
  margin-bottom: 20px;

}
